/********** Spinner **********/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}
#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/********** Back to Top **********/
.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.5s;
    z-index: 99;
}

/********** Logo **********/
#logo {
    width: 20%;
    height: auto;
}
#letras-logo {
    color: rgb(244, 116, 5);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

/********** Carousel Custom Arrows **********/
.custom-prev-icon,
.custom-next-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

/********** Buttons **********/
.btn {
    font-weight: 600;
    transition: 0.5s;
}
.btn-square { width: 32px; height: 32px; }
.btn-sm-square { width: 34px; height: 34px; }
.btn-md-square { width: 44px; height: 44px; }
.btn-lg-square { width: 56px; height: 56px; }
.btn-xl-square { width: 66px; height: 66px; }

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
.btn.btn-primary {
    border: none;
}
.btn.btn-primary:hover { background: var(--bs-secondary); }
.btn.btn-secondary {
    color: var(--bs-white);
    border: none;
}
.btn.btn-secondary:hover { background: var(--bs-primary); }

/********** Topbar **********/
.topbar {
    padding: 2px 10px 2px 20px;
    background: var(--bs-primary);
}

/********** Navbar **********/
.sticky-top { transition: 1s; }
.navbar .navbar-nav .nav-item.nav-link,
.navbar .navbar-nav .nav-link {
    color: var(--bs-dark);
    position: relative;
    padding: 10px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    font-size: 17px;
    transition: 0.5s;
    z-index: 99;
}
.navbar .navbar-nav .nav-item { margin: 0 5px; }
.navbar .navbar-nav .nav-item::before,
.navbar .navbar-nav .nav-item::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border: 2px solid var(--bs-secondary);
    opacity: 0;
    transition: 0.5s;
    z-index: 2 !important;
}
.navbar .navbar-nav .nav-item::before {
    top: 0;
    left: 0;
    border-bottom: 0;
    border-right: 0;
}
.navbar .navbar-nav .nav-item::after {
    bottom: 0;
    right: 0;
    border-top: 0;
    border-left: 0;
}
.navbar .navbar-nav .nav-item:hover::after,
.navbar .navbar-nav .nav-item:hover::before,
.navbar .navbar-nav .nav-item.active::after,
.navbar .navbar-nav .nav-item.active::before {
    width: 50%;
    height: 50%;
    opacity: 1;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.sticky-top .navbar .navbar-nav .nav-link:hover,
.sticky-top .navbar .navbar-nav .nav-link.active {
    color: var(--bs-secondary) !important;
}
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107" !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}
.navbar .navbar-toggler {
    padding: 8px 15px;
    color: var(--bs-dark);
    background: var(--bs-secondary);
}
.nav-bar .navbar-toggler { 
    color: var(--bs-dark);
    box-shadow: none !important;
}
.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light);
    transition: 0.5s;
    opacity: 1;
}
.navbar .nav-item .dropdown-menu {
    background: var(--bs-light);
    transition: 0.5s;
}
.navbar .nav-item .dropdown-menu .dropdown-item {
    transition: 0.5s;
}
.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item.active {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

/* Dropdown Desktop */
@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        margin-top: 15% !important;
        transform: rotateX(-75deg);
        transform-origin: 0 0;
        border: 0;
        opacity: 0;
        z-index: 9;
    }
}
/* Mobile adjustments */
@media (max-width: 991px) {
    .navbar .nav-item .dropdown-menu { position: relative; margin-top: 0; transition: 0.5s; }
    .navbar .navbar-nav .nav-item::after,
    .navbar .navbar-nav .nav-item::before { display: none; }
    .navbar .navbar-nav .nav-link { padding: 12px 0; }
    .navbar .navbar-nav .nav-item { margin: 0; }
}

/********** Carousel **********/
.carousel .carousel-inner .carousel-item {
    position: relative;
    overflow: hidden;
    height: 100vh;
}
@media (min-width: 992px) {
    .carousel .carousel-inner .carousel-item img {
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width: 991px) {
    .carousel .carousel-inner .carousel-item { height: 700px; }
    .carousel .carousel-inner .carousel-item img { height: 700px; object-fit: cover; }
}
@media (max-width: 576px) {
    .carousel-item .carousel-caption h1 { font-size: 36px; }
    .carousel-item .carousel-caption p.fs-5 { font-size: 15px; }
}
.carousel .carousel-inner .carousel-item::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    z-index:1;
}
.carousel .carousel-inner .carousel-item .carousel-caption {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}
.carousel .carousel-indicators { margin-bottom: 40px; display:flex; align-items:center; justify-content:center; background: transparent !important; z-index:5; }
.carousel .carousel-indicators li { margin-right: 30px !important; width:10px; height:10px; border:6px solid var(--bs-secondary); background: var(--bs-white); transition:0.5s; }
.carousel .carousel-indicators li.active { border:10px solid var(--bs-primary); }

/********** About **********/
.about .about-item-content-img { border:4px solid; border-color: var(--bs-secondary) var(--bs-primary) var(--bs-primary) var(--bs-secondary); }
.about .about-item-image { position:relative; background:var(--bs-light); background-image:url(../img/about-bg.png); background-position:center center; background-repeat:no-repeat; background-size:cover; z-index:1; }
.about .about-item-image::before {
    width:80%;
    height:80%;
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border:2px dotted var(--bs-white);
    background: var(--bs-primary);
    z-index:2;
}

/********** Features **********/
.feature .feature-item { position:relative; transition:0.5s; }
.feature .feature-item:hover { background: var(--bs-white); border:1px solid transparent; box-shadow: 0 0 45px rgba(0,0,0,.1); }

/********** Services **********/
.service .service-item { position:relative; overflow:hidden; width:100%; height:100%; transition:0.5s; z-index:1; }
.service .service-item .service-img img { transition:0.5s; }
.service .service-item:hover .service-img img { transform:scale(1.2); }

/********** Blog **********/
.blog .blog-item .blog-img { position:relative; overflow:hidden; }
.blog .blog-item .blog-img img { transition:0.5s; }
.blog .blog-item:hover .blog-img img { transform:scale(1.2); }

/********** Contact **********/
.contact .contact-map { position:relative; overflow:hidden; padding:20px; z-index:1; }
.contact .contact-map::before { content:""; width:70%; height:70%; position:absolute; left:0; bottom:0; background: var(--bs-primary); z-index:-1; }
.contact .contact-map::after { content:""; width:70%; height:70%; position:absolute; top:0; right:0; background: var(--bs-secondary); z-index:-1; }

/********** Footer **********/
.footer { background: linear-gradient(rgba(0,18,72,0.9), rgba(0,18,72,1)), url(../img/footer-img.webp); background-position:center top; background-repeat:no-repeat; background-size:cover; }
.footer .footer-item a { line-height:35px; color: var(--bs-body); transition:0.5s; }
.footer .footer-item a:hover { letter-spacing:1px; color: var(--bs-secondary); }

/********** Copyright **********/
.copyright { border-top:1px solid rgba(255,255,255,0.08); background: var(--bs-dark); }
